[user]
	name = Geoff Hudik
	email = geoff.hudik@jobot.com

[includeIf "gitdir:~/Repos/"]
    path = ~/Repos/.gitconfig
[core]
	excludesfile = /Users/ghudik/.gitignore_global
	editor = nano
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ghudik/.stCommitMsg
[init]
	defaultBranch = main
[pager]
	branch = false
	stash = false
[merge]
	tool = bc3
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "bc3"]
	trustExitCode = true
